.header {
    display: flex;
    .headerLogo {
        padding: 30px;
    }
    .logout-container {
        right: 0;
        position: absolute;
        padding: 30px;
        .logoutLogo {
            vertical-align: bottom;
        }
        .logoutButton {
            padding: 5px 10px;
            background: white;
            border: 1px solid rgba(128,128,128,0.5);
            border-radius: 3px;
            font-weight: 600;
        }
        .logoutButton:hover {
            background-color: #99cc33;
        }
        .logoutButton::-moz-focus-inner {
            border: 0;
          }
    }
}